:root {
  /* --gradient: linear-gradient(
    45deg,
    #845ec2,
    #d65db1,
    #ff6f91,
    #ff9671,
    #ffc75f,
    #f9f871
  ); */
  --gradient: linear-gradient(
    45deg,
    #000133,
    #040348,
    #0f3b57,
    #214559,
    #00626f,
    #391285
  );
}

body {
  background: var(--gradient);
  background-size: 300%;
  background-position: left;
  animation: bg-animation 20s infinite alternate;
  font-family: sans-serif;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  50% {
    background-position: center;
  }
  100% {
    background-position: right;
  }
}

.custom-size{
  height: 5rem;
  width: 5rem;
  border-width: 0.25rem;
  border-color: white;
}

.circle{
  border-radius: 100%;
}

.custom-bg{
  background-color: #391285;
  border: 1px solid white;
}

.custom-bg2{
  background-color: #980036;
  border: 1px solid white;
}
