<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Koder</title>
    <link rel="stylesheet" href="../static/CSS/bootstrap.css">
    <link rel="stylesheet" href="../static/CSS/all.css">
    <link rel="stylesheet" href="../static/CSS/mainpage.css">
</head>
<body>
    <div class="container mt-5">

        <div class="row my-5">
            <div class="col-sm-6 mt-5">
                <button class="btn btn-warning btn-lg mx-3 circle my-5 custom-size text-white">+</button>
                <button class="btn btn-warning btn-lg mx-3 circle my-5 custom-size text-white">+</button>
                <button class="btn btn-warning btn-lg mx-3 circle my-5 custom-size text-white">+</button>
                <button class="btn btn-warning btn-lg mx-3 circle my-5 custom-size text-white">+</button>
            </div>
            
            <div class="col-sm-6 d-flex justify-content-end my-3 ">
                <div class="card" style="width: 35rem;   border-width: 0.25rem;
                border-color: white;">
                    <div class="card-header d-flex justify-content-between custom-bg text-white">
                      <h5>Target:</h5>
                      <h5>Completed:</h5>
                    </div>
                    <div class="card-header text-center custom-bg text-white">
                        <h4>Upcoming Contests</h4>
                    </div>
                    <ul style="height: 10rem; overflow-y: scroll; ul::-webkit-scrollbar{display: none;}" 
                    class="list-group list-group-flush">
                      <li class="list-group-item custom-bg text-white">-</li>
                      <li class="list-group-item custom-bg text-white">-</li>
                      <li class="list-group-item custom-bg text-white">-</li>
                      <li class="list-group-item custom-bg text-white">-</li>
                      <li class="list-group-item custom-bg text-white">-</li>
                      <li class="list-group-item custom-bg text-white">-</li>
                      <li class="list-group-item custom-bg text-white">-</li>
                      <li class="list-group-item custom-bg text-white">-</li>
                      <li class="list-group-item custom-bg text-white">-</li>
                    </ul>
                  </div>
            </div>
        </div>

        <div class="row my-5" >
            <div class="d-flex justify-content-center text-white my-5 mx-5">
                <button class="btn btn-warning btn-lg mx-2 mx-5 my-5 custom-size text-white">+</button>
                <button class="btn btn-warning btn-lg mx-2 mx-5 my-5 custom-size text-white">+</button>
                <button class="btn btn-warning btn-lg mx-2 mx-5 my-5 custom-size text-white">+</button>
                <button class="btn btn-warning btn-lg mx-2 mx-5 my-5 custom-size text-white">+</button>
                <button class="btn btn-warning btn-lg mx-2 mx-5 my-5 custom-size text-white">+</button>
                <button class="btn btn-warning btn-lg mx-2 mx-5 my-5 custom-size text-white">+</button>
                <button class="btn btn-warning btn-lg mx-2 mx-5 my-5 custom-size text-white">+</button>
            </div>
        </div>
    </div>

    <script src="../static/js/all.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/popper.js"></script>
    <script src="../content.js"></script>

</body>
</html>