<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Koder</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/CSS/bootstrap.css">
    <link rel="stylesheet" href="../static/CSS/all.css">
    <link rel="stylesheet" href="../static/CSS/popup.css">

</head>

<body>
    <div class="container main-container">
        <div id="search-handle" class="input-group mb-3">
            <input id="cfhandle" type="text" class="form-control" placeholder="Codeforces Handle"
                aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2"
                onClick="getHandle()">Submit</button>
        </div>
        <div class="user-details">
            <span id="username"></span> <span>|</span>
            <span id="rank"></span>
            <span id="rating"></span>
        </div>
        <div>
            <p>Target : 5</p>
            <p>Completed : 2</p>
        </div>
    </div>

    <script src="../static/js/all.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/popper.js"></script>
    <script src="../content.js"></script>

</body>
</html>